body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1E1E1E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

fieldset.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #0288D1;
  color: white;
}

input.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: white;
}

label.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: #0288D1;
}

label.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #0288D1;
}

fieldset.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #0288D1;
}
